<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head th:replace="frags :: head"></head>
<body>
<header th:replace="frags :: logo"></header>

<div class="content">
    <div th:each="p : ${productList}" class="product-list" th:attr="data-productId=${p.id}">
        <h3 th:text="${p.name}"></h3>
        <p class="price" th:text="${p.price}"></p>
        <img th:src="@{/img/{file}(file=${p.imageFileName})}" th:alt="${p.name}">
    </div>
    <div class="clear-float"></div>
    <div id="submit-order">Submit</div>
</div>

</body>
</html>